body
{
    font-family: 'VT323', monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(69, 69, 69);
}

.centerText {text-align: center;}

h2 {font-size: 2em;}

/* makes the img in animated box not so big*/
div img
{
    max-width: 400px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

/* animated box start */
/* creates a small box of preview to later expand*/
#ghost
{
    width: 800px;
    background-color: #fff;
    padding: 20px;
    font-family: 'VT323', monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin: 0 auto;

    max-height: 270px;
    overflow: hidden;

    -webkit-transition: max-height 2.5s;
    -moz-transition: max-height 2.5;
    transition: max-height 2.5s;
}
/* creates the full box preview after user clicks the show more */
#ghost.open
{
    max-height: 320vh;

    -webkit-transition: max-height 2.5;
    -moz-transition: max-height 2.5s;
    transition: max-height 2.5;
}

#show-more-ghost
{
    background-color: rgb(196, 84, 10);
    font-family: 'VT323', monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    width: 200px;
    text-transform: uppercase;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
}
/* animated box end */


#title-text
{
    font-size: 5em;
    color: rgb(3, 103, 5);
    text-align: center;
    margin: 1em 2em;
    text-shadow: rgb(203, 200, 200) 2px 2px;
}

.textBoxTitle
{
    text-transform: uppercase;
    text-align: center;
}

/*comment box start*/
.btn-style
{
    width: 200px;
    font-family: 'VT323', monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: black 3px solid;
    font-size: .75em;
    padding: 10px;
    margin: 1em;
}

.comment-menu 
{
    color: black;
    background-color: rgb(196, 84, 10);
    text-align: center;
    padding: 10px;
}

/* modal styles start */
#modal-backdrop {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: (0,0,0,0.75);
}

#modal-backdrop.visible {
    display: block;
}

.modal {
    display: none;
    position: absolute;
    padding: 10px;
    border: solid 5px rgb(196, 84, 10);
    background-color: #fff;
    z-index: 99999;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal.visible {
    display: block;
}

.modal-content {
    width: 300px;
    height: 300px;
}

#edit-title {
    width: 300px;
}

#edit-content-text {
    width: 100%;
    box-sizing: border-box;
}
/* modal styles end */
/*comment box end*/
